# Gemini API Key (Server-side)
GEMINI_API_KEY=

# Groq API Key (Server-side)
GROQ_API_KEY=

# Mixpanel Token (Client-side)
VITE_MIXPANEL_TOKEN=6cf3aaa51c63b2439e00c040e2fed861

# Supabase (Client-side)
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# OneSignal Configuration (Server-side)
ONESIGNAL_APP_ID=1780c6e8-a0f3-4cc8-a5e1-a328a231a995
ONESIGNAL_REST_API_KEY=
